<mat-toolbar fxLayoutAlign="space-between center"  class="sticky">
    <button mat-flat-button class="toggleButton" color="primary" (click)="toggleSidenav(!open)"><mat-icon >{{open ? 'keyboard_arrow_left' : 'keyboard_arrow_right'}}</mat-icon></button>
   
    <span fxLayoutGap="20px">
    
            <button mat-flat-button *ngIf="show">
                <mat-icon matPrefix class="shop-icon">store_mall_directory</mat-icon>
                Current Shop
                <mat-icon matSuffix>unfold_more</mat-icon>
            </button>
        <div *ngIf="show" class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">
            <div class="search" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text">search</mat-icon>
                <input placeholder="Search for Restaurants (Press Enter to search)"  name="searchValue"  fxFlex>
            </div>

        </div>
        <button *ngIf="show" mat-flat-button class="toggleButton" color="primary" (click)="toggleFilter()"><mat-icon >filter_list</mat-icon></button>
        <button mat-flat-button class="cart-button bg-d-orange white" matBadgeSize="medium" matBadge="8" matBadgePosition="below after" [matBadgeOverlap]="true" matBadgeColor="primary" ><mat-icon >shopping_cart</mat-icon></button>
    
    </span>
  
</mat-toolbar>