.sticky {
    position: unset;
    width: 100%;
    padding: 32px;
    z-index: 10;
    margin-top: 20px;
    background-color: transparent;
}

.toggleButton, .cart-button{
    width: 48px;
    height: 48px;
    border-radius: 10px;
}
.mat-flat-button.toggleButton{
    background-color: #503E9D;
}



.search-wrapper {
    overflow: hidden;
    background: #F7F7F7;
    border-radius: 10px;
    overflow: hidden;
    width: 380px;

    /* box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12); */
}

.search-wrapper .search {
    width: 380px;
    height: 48px;
    line-height: 56px;
    padding: 0 18px;
}

.search-wrapper .search input {
    height: 48px;
    min-height: 56px;
    max-height: 56px;
    padding: 0 16px;
    border: none;
    outline: none;
    
}
.search-wrapper input{
    background: #F7F7F7;

}
.shop-selection h6{
    font-weight: 400;
    font-size: 16px;
    padding-left: 5px;
}
.shop-selection, .shop-selection mat-icon {
    display: flex;
    line-height: 64px;
    font-size: 24px;
    align-items: center;
}
.shop-icon{
    color: #503E9D;
  
}

::ng-deep .mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content{
    right: 0;

}
::ng-deep .mat-badge-medium.mat-badge-below .mat-badge-content{
    bottom: 0;
}