
<sur-ta-layout [cuisines]="cuisines"  [show]="!showDescription">
    <sur-ta-description [show]="showDescription" [restaurantData]="details" ></sur-ta-description>
    <sur-ta-grid-card (cuisineEmitter)="cuisines = $event" [restaurantsData]="details" ></sur-ta-grid-card>
</sur-ta-layout>