<div class="content" >
  <!-- Category Header -->
    <div *ngIf="!currentRestaurantId">
        <h1 class="fw-900 fs-24">Category</h1>
        <br>
    </div>
   <!-- Display categories -->
    <div class="categories" fxLayout="row" fxLayoutGap="40px" >
        <span fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center" *ngFor="let item of allCategories">
            <img width="44px" height="44px" src="assets/images/{{getImage(item)}}.svg" alt="">
           <span class="fw-700 fs-16"> {{item}}</span>
        </span>
    </div>
    <!-- Display menus -->
    <div class="menus" *ngIf="this.currentRestaurantId" fxLayoutGap="20px" >
    <button class="filter-buttons " [ngClass]="[isSelected(button) ? 'selected': '']"
    *ngFor="let button of menus" (click)="addFilters(button)" mat-flat-button>
    <span>{{button}}</span>
</button>
</div>
<!-- Restaurant header -->
<div *ngIf="!currentRestaurantId">
    <h1 class="fw-900 fs-24 mt-60">Restaurants</h1>
    <br>
  </div>
  <!--  Menu Header -->
  <div *ngIf="currentRestaurantId">
    <h1 class="fw-900 fs-24 mt-60">Menu</h1>
    <br>
  </div>
  <!--  Display restaurants -->
    <div fxLayout="row wrap" fxLayoutGap="32px grid"  *ngIf="!currentRestaurantId ; else menusDisplay">
        <div class="cur-pointer" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let restaurant of allRestaurants">
          <mat-card class="mat-elevation-z0" [routerLink]="getRouterLinkForItem(restaurant.id)">
            <img mat-card-image width="100%" height="170px" class="br-16" src="{{restaurant.restaurantImage}}">
            <mat-card-content>
                <div fxLayout="row" fxLayoutAlign="space-between">
                  <mat-card-subtitle><strong>{{restaurant.restaurantName}}</strong></mat-card-subtitle>
                  <mat-card-subtitle> <span [ngClass]="[restaurant.isOpen ? 'open' : 'close']"> {{restaurant.isOpen ? 'Open Now' : 'Closed'}}</span></mat-card-subtitle>
                </div>
                
                <p class="ellipsis" *ngIf="!currentRestaurantId">
  {{restaurant.restaurantDescription}}             
   </p>
            </mat-card-content>
       
          </mat-card>
        </div>
      
     
    </div>
      <!--  Display menu items -->

    <ng-template #menusDisplay>
      <div fxLayout="row wrap" fxLayoutGap="32px grid" >
      <div  fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let menu of menuData">
        <mat-card class="mat-elevation-z0" >
          <img mat-card-image width="auto" height="170px" class="br-16" src="{{menu.itemPhoto}}">
          <mat-card-content>
              <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-card-subtitle><strong>{{menu.itemName}}</strong></mat-card-subtitle>
                <mat-card-subtitle> <span > &#163; {{menu.itemCost}}</span></mat-card-subtitle>
              </div>
              
          </mat-card-content>
     
        </mat-card>
      </div>  
    </div>    
    </ng-template>
   
  </div>