

.content > mat-card {
    margin-bottom: 16px;
}
.no-p{
    padding: 0 !important;
}
.column-label {
    margin-right: 8px;
    font-size: 1rem;
}

.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}

mat-card-subtitle{
    color: black;
}

.menus .mat-flat-button{
    padding: 8px auto;
    width: min-content;
    line-height: 24px;
    font-size: 16px;
    border-radius: 6px;
}

.filter-buttons{
    height: 40px;
    margin-bottom: 16px !important;
    background-color: #f7f7f7;
    
}
.filter-buttons.selected{
    color: white;
     background: #503E9D;
     font-weight: 700;
}
 .mat-card-image {
    width: calc(100% + 0px) ;
    margin: 16px 0 !important;
}

.open{
    width: 75px;
    height: 24px;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    background: rgba(80, 62, 157, 0.1);
    color: #503E9D;
}

.close{
    width: 55px;
    height: 24px;
    padding: 4px 8px;background: rgba(251, 109, 58, 0.1);
    border-radius: 4px;
    font-size: 12px;

    color: #FB6D3A;
}   