<div class="content" *ngIf="show" fxLayout="row" fxLayoutAlign="space-between start">
    <div fxFlex="50%">
        <h1 class="fw-900 fs-24">{{restaurantData?.restaurantName}}</h1>

        <br>

        <p>
            {{restaurantData?.restaurantDescription}}
        </p>

        <p>
            <span fxFlex="50%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-icon>access_time</mat-icon>
                <span><span *ngFor="let item of splitItemHours(restaurantData?.openingHours)">{{item}} <br>
                    </span></span>
            </span>
        </p>
        <p>
            <span fxFlex="50%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-icon>call</mat-icon>
                <span>{{restaurantData?.contactNumber}} </span>
            </span>
        </p>
        <p>
            <span fxFlex="50%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-icon>language</mat-icon>
                <span>{{restaurantData?.websiteUrl}}</span>
            </span>
        </p>
    </div>
    <img class="br-16" height="300px" width="550px" src="{{restaurantData?.restaurantImage}}" alt="">
</div>