<article>

    <mat-drawer-container autosize>
        <mat-drawer #drawer class="left-side-nav" [mode]="'side'" [opened]="open ? 'true' : 'false'" position="start"
            fxFlex fxLayout="column" fxLayoutAlign="start space-between">
        <!-- left nav bar list -->
            <mat-list role="list" class="list-width">
                <mat-list-item role="listitem" class="list-item" id="title"><img src="assets/images/Dark.svg"
                        alt="Logo"></mat-list-item>
                <br>
                <mat-list-item role="listitem" class="list-item active" matRipple [routerLink]="'/'"
                    [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"> <img
                        src="assets/icons/home.svg" width="24px" alt=""> <span class="navtext">All Bookmarks</span>
                </mat-list-item>
                <br>
                <mat-list-item role="listitem" class="list-item" matRipple [routerLink]="'/'"
                    [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"> <img
                        src="assets/icons/orders.svg" width="24px" alt=""> <span class="navtext">Orders</span>
                </mat-list-item>
                <br>
                <mat-list-item role="listitem" class="list-item" matRipple [routerLink]="'/'"
                    [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"> <img
                        src="assets/icons/mail.svg" width="24px" alt=""> <span class="navtext">Notifications </span> <span class="notifications">2</span>
                </mat-list-item>
                <br>
                <mat-list-item role="listitem" class="list-item" matRipple [routerLink]="'/'"
                    [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"> <img
                        src="assets/icons/question.svg" width="24px" alt=""> <span class="navtext">Help &amp;
                        Support</span></mat-list-item>
                <br>
                <mat-list-item role="listitem" class="list-item" matRipple [routerLink]="'/'"
                    [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"> <img
                        src="assets/icons/settings.svg" width="24px" alt=""> <span class="navtext">Settings</span>
                </mat-list-item>


            </mat-list>
          
            
                  <div >
                    <div class="cards-wrapper">
                        <div class="card-container cards hide-button mat-elevation-z4" #cards
                            *ngFor="let card of allCards; let i = index;">
                            <section class="card-header">
                                <button mat-icon-button (click)="closeCard(i)">
                                    <mat-icon> close</mat-icon>
                                </button>
                            </section>
                            <section class="card-content">
                                <button mat-flat-button class="status-button bg-orange">
                                    <img src="assets/icons/clock.svg" class="p-16" alt="">
                                </button>
                                <h4>Your order is now ready</h4>
                                <br>
                                <p>
                                    Splint Doumo <br>
                                    Order Id: #234EDI
                                </p>
                                <br>
                                <button mat-flat-button class="details-button">Details <mat-icon matSuffix>arrow_forward
                                    </mat-icon></button>
                            </section>
                        </div>
        
                    </div>
        
                    <button mat-button class="bottom-button" >
                        <span class="d-flex">
                            <span class="txt-left">Surjith <br> <span class="fw-400">ssksurjithssk@gmail.com</span> </span>
                            <mat-icon class="lh-36 fs-36">unfold_more</mat-icon>
                        </span>
                    </button>
                   
                  </div>
             
        </mat-drawer>

        <mat-drawer #drawerFilter class="right-side-nav" [mode]="'over'" [opened]="openFilter ? 'true' : 'false'"
            position="end" fxFlex fxLayout="column" fxLayoutAlign="start space-between">

            <section class="filters">
                <div fxFlex="100%" class="h-90" fxLayout="column" fxLayoutAlign="space-between">
                    <div fxLayout="column" fxLayoutGap="48px">

                        <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
                            <h2>Search filters</h2>
                            <button mat-flat-button class="toggleButton" color="primary" (click)="toggleSideBar()">
                                <mat-icon class="black">close</mat-icon>
                            </button>
                        </div>
                        <div class="sort-by" fxLayout="column">
                            <h1><strong>Sort by</strong></h1>
                            <br>
                            <div fxLayout="row" fxLayoutGap="20px">
                                <button mat-flat-button class="fire-button" color="primary">
                                    <img src="assets/icons/fire.svg" alt="">
                                </button>
                                <span class="lh-48 fs-16 fw-700">open</span>
                            </div>
                        </div>
                        <div class="cuisine" fxLayout="column">
                            <h1><strong>Cuisine</strong></h1>
                            <br>
                            <div class="cuisine" fxLayoutGap="20px">


                                <button class="filter-buttons" [ngClass]="[isSelected(button) ? 'selected': '']"
                                    *ngFor="let button of cuisines" (click)="addFilters(button)" mat-flat-button>
                                    <span>{{button}}</span>
                                </button>

                            </div>
                            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        See more
                                    </mat-panel-title>

                                </mat-expansion-panel-header>
                                <p>Nothing to add here</p>
                            </mat-expansion-panel>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <button mat-raised-button class="apply-button">Apply filters</button>

                    </div>
                </div>
            </section>
        </mat-drawer>
        <mat-drawer-content  class="h-100 w-100">
            <sur-ta-header (toggle)="toggleLeftSideBar($event)" [show]="show"></sur-ta-header>
            <div>
                <ng-content></ng-content>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>


</article>