.content {
    position: absolute;
    top: 56px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: scroll;
}

.content-mob {
    position: absolute;
    top: 111px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: scroll;
}

.toolbartitle {
    font-weight: 100;
}

.left-side-nav {
    position: fixed;
    background-color: #F7F7F7;
    border-radius: 0 24px 24px 0;
    width: 300px;
    height: 100vh;
    overflow: initial;
}
.left-side-nav ::ng-deep .mat-drawer-inner-container{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
mat-drawer-container{
    background-color: #fff;
}

/* ::ng-deep .mat-drawer-inner-container {
    overflow: hidden !important;
}

::ng-deep .mat-drawer-inner-container:hover {
    overflow: auto !important;
} */

::ng-deep .mat-drawer-side {
    border-right: none;
}

.list-width {
    width: 300px;
}

.list-item:not(#title) {
    cursor: pointer;
    outline: none;
}

/* 
.list-item:hover:not(.active):not(#title) {
    background-color: rgba(83, 83, 83, 0.178);
    cursor: pointer;
} */
mat-drawer{
    overflow: hidden;
}

/* .mat-drawer-content {
    width: 100%;
} */

mat-list-item{
    /* padding-left: 10% !important; */
    
    height: 56px !important;
}
::ng-deep .list-width .mat-list-item-content {
    width: 80%;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    left: 10%;
}
.navtext{
    font-size: 16px;
    padding-left: 20px;
    line-height: 24px;
    color: #626264;
}
.active .navtext{
    font-weight: bold;
    color: white;
    font-weight: 400;
}
::ng-deep .list-width:not(.active) .mat-list-item-content:hover{
    background-color: rgba(83, 83, 83, 0.178);
    cursor: pointer;
}
#title {
    color: black;
    font-weight: 800;
}

::ng-deep .list-width .active  .mat-list-item-content{
    background: #503E9D;

}
.filters{
    padding: 5%;
}
.filters .header h2{
    color: #182135;
    font-size: 24px;
    font-weight: 700;
    margin: auto 0;
    line-height: 32px;
    
}
.apply-button{
    width: 90%;
    background-color: #503E9D;
    color: white;
    height: 64px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
}
.list-width-filter{
    width: 480px;
}
.right-side-nav {
    position: fixed;
    background-color: #fff;
    border-radius: 24px 0 0 24px;
    width: 480px;
}


.mat-flat-button{
    background-color: #F7F7F7;
}

.lh-48{
    line-height: 48px;
}

.cuisine .mat-flat-button{
    padding: 8px auto;
    width: min-content;
    line-height: 24px;
    font-size: 16px;
    border-radius: 6px;

}

.filter-buttons{
    height: 40px;
    margin-bottom: 16px !important;
    
}
.filter-buttons.selected{
    color: #FB6D3A;
     background: rgba(251, 109, 58, 0.1);
     font-weight: 700;
}

mat-expansion-panel{
    box-shadow: none !important;
}
mat-expansion-panel-header{
    padding: 3px;
    line-height: 24px;
    font-size: 16px;
    
}
mat-panel-title{
    color: #FB6D3A;

}

.cards-wrapper{
    position: relative;
    height: 400px;
    overflow: hidden;
}
.card-container{
    background:#fff;
    height: 320px;
    position: absolute;
    width:80%;
    top:999px;
    left: 10%;
    /* box-shadow: 0px 0px 1px rgba(0,0,0,.5); */
    border-radius:20px;
}
.card-header{
    border-radius:5px 5px 0 0;
    /* float: right;
    padding-right:10px ;
    padding-top: 20px; */
    position: absolute;
    right: 10px;
    padding-top: 20px;
}
.card-header h3{
    font-size:1rem;
    color:var(--dBlue);
}
.card-header .card-close{
    color:var(--dBlue);
    font-size:1.2rem;
}
.card-content{
    padding:45px 20px 0;
    text-align:center;
}
.card-content h4{
    line-height: 24px;
    font-size: 16px;
    color: black;
    margin-top: 24px;
}
.card-content .status-button{
    width: 64px ;
    height: 64px ;
    padding: 0 ;
}
.card-content .details-button{
    width: 80%;
    background: #503E9D;
    border-radius: 10px;
    color: white;
    height: 40px;
}
.card-content .details-button mat-icon{
    float: right;
    padding-top: 7px;
}
.hide-button .card-content .details-button {
    visibility: hidden;
}
.card-content p{
    font-weight: 400;
    line-height: 18px;
    font-size: 12px;
}
.card-content .card-next{
    padding:10px 20px;
    display: inline-block;
    background:var(--dBlue);
    margin-top:20px;
    border-radius: 3px;
    color:var(--gray);
    font-weight: 700;
}

.cards{
    transition: left 400ms ease-in-out, width 400ms ease-in-out, top 400ms ease-in-out;
}
.bottom-button{
    display: flex;
    left: 10%;

}
.bottom-button span{
    line-height: 18px;
}
.lh-36{
    line-height: 36px;

}
.fs-36{
    font-size: 36px;
}
.txt-left{
    text-align: left;
}

.notifications{
    position: absolute;
    right: 0;
    color: white;
    background: #503E9D;
    width: 38px;
    height: 38px;
    border-radius: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}