/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; letter-spacing: 1.2 !important; }

/* snackbar styling */
.primary .mat-simple-snackbar-action {
    background-color: #3f51b5 !important;
    color: #fff !important;
}

.warning.mat-snack-bar-container,
.warning .mat-button-wrapper {
    background-color: #ff5722 !important;
    color: #fff !important;
}

.success.mat-snack-bar-container,
.success .mat-button-wrapper {
    background-color: #0da71f !important;
    color: #fff !important;
}

.error.mat-snack-bar-container,
.error .mat-button-wrapper {
    background-color: #f44336 !important;
    color: #fff !important;
}
.bg-d-orange{
    background: #FB6D3A;
}
.white{
    color: #fff;
}
.text-center{
    display: flex;
    justify-content: center;
}

.full-page{
    width: 100vw;
    height: 100vh;
}

.h-100{
    min-height: 100vh;
}

.h-90{
    min-height: 90vh;
}

.black{
    color: black;
}

.orange{
    color: #FB6D3A;
}

.fs-16{
    font-size: 16px;
}

.fw-700{
    font-weight: 700 !important;
}

.mb-10{
    margin-bottom: 10px;
}

.p-16{
    padding: 16px;
}
.bg-orange{
    background: rgba(251, 109, 58, 0.1) !important;
}
.fw-400{
        font-weight: 400 !important;
}
.w-100{
        width: 100%;
}
.d-flex{
        display: flex;
}
.br-16{
        border-radius: 16px !important;
}
.fs-24{
        font-size: 24px !important;
}
.fw-900{
    font-weight: 900 !important;
}
.mt-60{
    margin-top: 60px !important;
}
.content {
     padding: 32px;
        /* margin-top: 100px; */
}
.toggleButton, .fire-button{
        width: 48px;
        height: 48px;
        border-radius: 10px;
}
.fire-button{
        background: rgba(251, 109, 58, 0.1) !important;
}
.cur-pointer{
        cursor: pointer;
        
}
.cur-pointer:hover{
       transform: scale(1.1);
       transition: all 0.3s ease;
}